{% extends 'base_dash.html' %}

{% block content %}
<div class="d-flex justify-content-between mb-2">
  <h3>Cadastrar atividade para a turma: </h3>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissable" role="alert">
    {{ message }}
  </div>
  {% endfor %}
{% endif %}
{% endwith %}

<form method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Nome da Atividade</label>
    <input type="text" class="form-control" id="name" name="name" required></input>
  </div>
  <div class="mb-3">
    <label for="descricao" class="form-label">Descrição da Atividade</label>
    <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
  </div>
  <input type="hidden" name="id_turma" value="{{ id_turma }}">
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}
